<tr>
  <td><%= link_to highlight(highlighted_submission.slug_display,@query), highlighted_submission %></td>
  <td><%= highlight(highlighted_submission.title,@query) %></td>
  <td><%= highlighted_submission.state_display %></td>
</tr>